<app-back-header
  title="Reparto por preferencias"
  [showMoreInfo]="true"
  (moreInfo)="displayMoreInfoPopover()"
></app-back-header>

<ion-content>
  <ng-container *ngIf="team && tasksUnassigned && userTasksPreferred; else loading">
    <ion-list lines="none">
      <ion-list-header class="ion-padding-horizontal">
        <ion-label><h3 class="list-title">Lista de tareas</h3></ion-label>
        <ion-button
          [routerLink]="['/create-task', idTeam, idTaskList]"
          color="primary"
          fill="solid"
          shape="round"
        >
          Crear tarea
        </ion-button>
      </ion-list-header>

      <app-task-slide
        [tasks]="tasksUnassigned"
        [withoutUsers]="true"
        [idUser]="idUser"
        [currentUserId]="idUser"
        distributionMode="preferences"
      ></app-task-slide>
    </ion-list>

    <ion-list class="preferences-list ion-no-padding" lines="none">
      <ion-list-header class="ion-padding-horizontal">
        <ion-label><h3 class="list-title">Tu lista de preferencia</h3></ion-label>
        <ion-chip
          class="info-chip"
          [ngClass]="{ 'chip-active':  team.taskLists[idTaskList!].userTasksPreferred[idUser].length === maxNumberOfTasks }"
          [disabled]="true"
        >
          <ion-label>
            {{team.taskLists[idTaskList!].userTasksPreferred[idUser].length}}/{{ maxNumberOfTasks }}
            tareas
          </ion-label>
        </ion-chip>
      </ion-list-header>

      <div class="items-container">
        <ion-item *ngIf="userTasksPreferred.length === 0" class="root-helper helper sub-item">
          <ion-label>No tienes ninguna tarea seleccionada</ion-label>
        </ion-item>

        <ion-item
          *ngFor="let task of userTasksPreferred; trackBy: identify"
          class="root-helper helper sub-item"
        >
          <ion-label>{{ task!.title }}</ion-label>
          <ion-button
            (click)="unmarkTaskPreferred(task!.id)"
            color="medium"
            fill="clear"
            slot="end"
          >
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </ion-list>

    <div class="ion-padding ion-margin-top d-flex justify-center align-items-center flex-column">
      <span class="regular-text">Han terminado</span>
      <ion-chip
        class="info-chip"
        [ngClass]="{ 'chip-active':  team.taskLists[idTaskList!].idCompletedUsers.length === team!.idUserMembers.length }"
        [disabled]="true"
      >
        <ion-label>
          {{ team.taskLists[idTaskList!].idCompletedUsers.length }}/{{ team!.idUserMembers.length }}
          miembros del equipo
        </ion-label>
      </ion-chip>
    </div>

    <ion-button
      (click)="checkDistribution()"
      [disabled]="team!.userMembers[idUser].role === 'member' || isLoading"
      class="ion-margin"
      expand="block"
      fill="solid"
      shape="round"
    >
      <ion-spinner name="circles" style="margin-right: 5px" *ngIf="isLoading"></ion-spinner>
      Terminar reparto
    </ion-button>
  </ng-container>
  <ng-template #loading>
    <ion-spinner class="loading-content" name="circles" color="primary"></ion-spinner>
  </ng-template>
</ion-content>
