<app-back-header
  title="Reparto por preferencias"
  [showMoreInfo]="true"
  (moreInfo)="displayMoreInfoPopover()"
></app-back-header>

<ion-content>
  <ng-container *ngIf="(viewModel$ | async) as vm; else loading">
    <ion-list lines="none">
      <ion-list-header class="ion-padding-horizontal">
        <ion-label><h3 class="list-title">Lista de tareas</h3></ion-label>
        <ion-button
          [routerLink]="['/create-task', idTeam, idTaskList]"
          color="primary"
          fill="solid"
          shape="round"
        >
          Crear tarea
        </ion-button>
      </ion-list-header>

      <app-task-slide
        [tasks]="vm.tasksUnassigned"
        [withoutUsers]="true"
        distributionMode="preferences"
      ></app-task-slide>
    </ion-list>
  </ng-container>

  <ng-template #loading>
    <ion-spinner
      class="loading-content"
      name="circles"
      color="primary"
      style="margin-top: 30px !important"
    ></ion-spinner>
  </ng-template>
</ion-content>
