<div class="swiper-container">
  <ng-container *ngIf="tasks.length > 0; else noTasks">
    <swiper class="slide-container" [config]="slideOpts">
      <ng-template swiperSlide *ngFor="let task of tasks; trackBy: identify">
        <app-task
          [task]="task"
          [idUser]="idUser"
          [currentUserId]="currentUserId"
          [showCompleteButton]="false"
          [showDistributionMode]="true"
          [showMoreOptions]="showMoreOptions"
          [distributionMode]="distributionMode"
          [withoutUserAssigned]="withoutUsers"
          [tradeMode]="tradeMode"
          [idSelectedTask]="idSelectedTask"
          (idSelectedTaskToSlide)="onIdTaskSelected($event)"
        ></app-task>
      </ng-template>
    </swiper>
  </ng-container>

  <ng-template #noTasks>
    <div class="slide-container">
      <ion-item class="no-item">
        <ion-label class="regular-text" style="white-space: normal">{{ noTasksMessage }}</ion-label>
      </ion-item>
    </div>
  </ng-template>
</div>
