<ion-header>
  <ion-toolbar>
    <ion-title class="fw-bold large-text ion-text-center">Listas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <app-toolbar-searchbar
    title="Lista de equipos y tareas"
    placeholder="Buscar equipos o listas de tareas"
    [totalItems]="teamsList.length"
    (search)="handleSearch($event)"
  ></app-toolbar-searchbar>

  <div class="main-container ion-padding">
    <ion-spinner
      *ngIf="isLoading"
      class="loading-content"
      name="circles"
      color="primary"
    ></ion-spinner>

    <ion-item
      *ngIf="!isLoading && !isSearching && teamsList.length === 0"
      class="root-helper helper sub-item"
      style="z-index: 0"
    >
      <ion-label>¡Crea tu propio equipo o unéte a otro para ver aquí todas sus listas!</ion-label>
    </ion-item>

    <div *ngIf="!isLoading && teamsList.length > 0">
      <ion-list
        *ngFor="let team of teamsList | searchTeams: searchText"
        class="root-list"
        lines="none"
      >
        <ion-item color="primary" class="header-item">
          <ion-button
            (click)="toggleShowTaskLists(team.id)"
            fill="clear"
            color="white"
            slot="start"
          >
            <ion-icon
              [name]="showTaskLists[team.id] ? 'caret-down-outline' : 'caret-forward-outline'"
            ></ion-icon>
          </ion-button>

          <ion-label class="fw-bold">{{ team.name }}</ion-label>

          <ion-button
            (click)="presentTeamActionSheet(team.id)"
            fill="clear"
            color="white"
            slot="end"
          >
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item
          class="container-list"
          [ngClass]="'item-' + team.id"
          [attr.container-task-lists]="team.id"
          color="tertiary"
          #showListContainers
        >
          <ion-list class="sub-list" color="tertiary" lines="none">
            <ion-item
              *ngFor="let list of team.taskLists | objSortedValues"
              button
              class="sub-item"
              (click)="handleItemClick(team.id, list.id)"
            >
              <div>
                <div [ngClass]="'square-color ' + assignedColors[list.id]" slot="start">
                  <span class="letter">{{ list.name.charAt(0) }}</span>
                </div>
              </div>

              <div class="medium-part">
                <ion-label class="fw-bold">{{ list.name }}</ion-label>
                <div class="d-flex align-items-center" style="gap: 5px">
                  <div class="score">
                    <ion-icon
                      src="../../../../assets/icons/score.svg"
                      class="score-icon"
                    ></ion-icon>
                    <span>{{ list.userScore[userId]}}</span>
                  </div>
                  <ion-text class="points-earned" color="medium">Puntos adquiridos</ion-text>
                </div>
              </div>

              <ion-button
                (click)="presentTaskListActionSheet(team.id, list.id);$event.stopPropagation();"
                fill="clear"
                color="secondary"
                slot="end"
              >
                <ion-icon name="ellipsis-vertical"></ion-icon>
              </ion-button>
            </ion-item>

            <ion-item *ngIf="taskListIsEmpty(team)" class="helper sub-item">
              <ion-label>
                Despliega las opciones del equipo para crear la primera lista de tareas
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </div>

    <ion-item
      *ngIf="!isLoading && isSearching && (teamsList | searchTeams: searchText)?.length === 0"
      class="root-helper helper sub-item"
      style="z-index: 0"
    >
      <ion-label>No se ha encontrado ningún resultado</ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="position: fixed">
      <ion-fab-button class="main-button">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="primary" [routerLink]="['/tabs/lists/create-team']">
          <ion-icon src="../../../../assets/icons/team.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="primary" [routerLink]="['/tabs/lists/join-team']">
          <ion-icon name="enter-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>
