<ion-content class="ion-padding">
  <ion-title size="small" class="fw-bold ion-no-margin ion-no-padding">
    ¿Olvidaste tu contraseña?
  </ion-title>
  <ion-text>Por favor, introduce tu correo electrónico para poder resetear tu contraseña</ion-text>

  <form (ngSubmit)="recoverPassword()" [formGroup]="forgotPasswordForm">
    <ion-item mode="md">
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input
        type="email"
        placeholder="Introduce tu correo electrónico"
        formControlName="email"
      ></ion-input>
      <ion-note slot="error" *ngIf="email?.touched && email?.errors">
        Debes introducir un correo electrónico válido
      </ion-note>
    </ion-item>

    <ion-button
      [disabled]="
        (!forgotPasswordForm.valid && !isLoading) || (forgotPasswordForm.valid && isLoading)
      "
      type="submit"
      color="primary"
      expand="block"
      shape="round"
      class="ion-margin-top"
    >
      <ion-spinner name="circles" style="margin-right: 5px" *ngIf="isLoading"></ion-spinner>
      Recuperar
    </ion-button>
  </form>
</ion-content>
