<div class="profile-card-container" [ngStyle]="{ 'margin-bottom': last ? '0px' : '15px' }">
  <span class="fw-bold">{{ title }}</span>
  <p class="ion-no-margin">{{ description }}</p>

  <div [ngClass]="reverse ? 'rating-data-reversed' : 'rating-data'">
    <div class="avg-container">
      <span class="avg-number">{{ rate | number : '1.1-1' : 'es-ES' }}</span>
      <div class="stars">
        <ion-icon
          *ngFor="let number of [1, 2, 3, 4, 5]"
          [name]="rate >= number ? 'star' : rate >= number - 0.5 ? 'star-half' : 'star-outline'"
          class="star-icon"
          slot="start"
        ></ion-icon>
      </div>
      <span>de {{ totalRatings }}</span>
    </div>

    <div class="star-count-container">
      <div class="progress-container">
        <span class="star-number">5</span>
        <div class="progress-bar">
          <div
            class="progress"
            [ngStyle]="{
              width: totalRatings === 0 ? '0%' : (totalStars[5] / totalRatings) * 100 + '%'
            }"
          ></div>
        </div>
      </div>
      <div class="progress-container">
        <span class="star-number">4</span>
        <div class="progress-bar">
          <div
            class="progress"
            [ngStyle]="{
              width: totalRatings === 0 ? '0%' : (totalStars[4] / totalRatings) * 100 + '%'
            }"
          ></div>
        </div>
      </div>
      <div class="progress-container">
        <span class="star-number">3</span>
        <div class="progress-bar">
          <div
            class="progress"
            [ngStyle]="{
              width: totalRatings === 0 ? '0%' : (totalStars[3] / totalRatings) * 100 + '%'
            }"
          ></div>
        </div>
      </div>
      <div class="progress-container">
        <span class="star-number">2</span>
        <div class="progress-bar">
          <div
            class="progress"
            [ngStyle]="{
              width: totalRatings === 0 ? '0%' : (totalStars[2] / totalRatings) * 100 + '%'
            }"
          ></div>
        </div>
      </div>
      <div class="progress-container">
        <span class="star-number" style="padding-right: 3px">1</span>
        <div class="progress-bar">
          <div
            class="progress"
            [ngStyle]="{
              width: totalRatings === 0 ? '0%' : (totalStars[1] / totalRatings) * 100 + '%'
            }"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
