<app-back-header title="Valoraciones de la lista"></app-back-header>

<ion-content color="tertiary" class="ion-padding">
  <ng-container *ngIf="team && users && ratingsByUser; else loading">
    <ion-list class="root-list settings-list" lines="none" mode="md">
      <ion-list-header color="primary">
        <ion-label>
          <h2>{{ team.taskLists[idTaskList!].name }}</h2>
        </ion-label>
      </ion-list-header>

      <ion-item
        *ngFor="let user of users"
        (click)="navigateToRatingForm(user.id!)"
        class="sub-item"
        style="--padding-start: 10px; --padding-end: 5px"
        button
      >
        <ion-avatar slot="start" class="user-avatar">
          <ion-img
            [src]="user.photoURL || '../../../../../assets/no-photo.jpg'"
            [alt]="'Avatar de' + user.username"
            referrerpolicy="no-referrer"
          ></ion-img>
          <div class="pie-wrapper">
            <app-circle-chart [pieData]="user.qualityMark"></app-circle-chart>
          </div>
        </ion-avatar>

        <ion-label style="margin: 5px 0">
          <h3 class="fw-bold" style="letter-spacing: 0">
            {{ user.username }} {{ user.id === idUser ? '(Tú)' : '' }}
          </h3>

          <ng-container *ngIf="user.id !== idUser">
            <div *ngIf="ratingsByUser[user.id!]; else withoutRating" class="rating-container">
              <ion-chip
                class="info-chip small-chip rating-chip"
                [disabled]="true"
                style="padding-inline: 8px"
              >
                <span>Trabajo</span>
                <div>
                  <ion-icon
                    *ngFor="let number of [1, 2, 3, 4, 5]"
                    [name]="number <= ratingsByUser[user.id!].work ? 'star' : 'star-outline'"
                    color="primary"
                    class="star-icon"
                  ></ion-icon>
                </div>
              </ion-chip>

              <ion-chip
                class="info-chip small-chip rating-chip"
                [disabled]="true"
                style="padding-inline: 8px"
              >
                <span>Comunicación</span>
                <div>
                  <ion-icon
                    *ngFor="let number of [1, 2, 3, 4, 5]"
                    [name]="number <= ratingsByUser[user.id!].communication ? 'star' : 'star-outline'"
                    color="primary"
                    class="star-icon"
                  ></ion-icon>
                </div>
              </ion-chip>

              <ion-chip
                class="info-chip small-chip rating-chip"
                [disabled]="true"
                style="padding-inline: 8px"
              >
                <span>Actitud</span>
                <div>
                  <ion-icon
                    *ngFor="let number of [1, 2, 3, 4, 5]"
                    [name]="number <= ratingsByUser[user.id!].attitude ? 'star' : 'star-outline'"
                    color="primary"
                    class="star-icon"
                  ></ion-icon>
                </div>
              </ion-chip>

              <ion-chip
                class="info-chip small-chip rating-chip"
                [disabled]="true"
                style="padding-inline: 12px"
              >
                <span>Valoración</span>
                <div>
                  <ion-icon
                    *ngFor="let number of [1, 2, 3, 4, 5]"
                    [name]="number <= ratingsByUser[user.id!].overall ? 'star' : 'star-outline'"
                    color="primary"
                    class="star-icon"
                  ></ion-icon>
                </div>
              </ion-chip>
            </div>

            <ng-template #withoutRating>
              <ion-chip class="info-chip small-chip" [disabled]="true" style="padding-inline: 10px">
                <span>Sin valoración</span>
              </ion-chip>
            </ng-template>
          </ng-container>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #loading>
    <ion-spinner class="loading-content" name="circles" color="primary"></ion-spinner>
  </ng-template>
</ion-content>
