<app-back-header [title]="headerTitle"></app-back-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="teamId ? updateTeam() : createTeam()" [formGroup]="teamForm">
    <ion-item mode="md" style="margin-bottom: 10px" class="item-form">
      <ion-label position="stacked" style="font-size: 18px">Nombre del equipo</ion-label>
      <ion-input type="text" placeholder="Introduce el nombre del equipo" formControlName="name"></ion-input>
      <ion-note slot="error" *ngIf="name?.touched && name?.errors">
        Debes introducir un nombre para el equipo de almenos 3 carácteres.
      </ion-note>
    </ion-item>

    <p class="medium-title ion-no-margin">Permitir nuevos miembros</p>

    <ion-item class="item-form">
      <ion-label class="toggle-label medium-text">
        Permitir que cualquier usuario pueda acceder mediante el código de invitación
      </ion-label>
      <ion-toggle slot="end" formControlName="allowNewMembers"></ion-toggle>
    </ion-item>

    <ion-button
      [disabled]="(!teamForm.valid && !isLoading) || (teamForm.valid && isLoading)"
      type="submit"
      expand="block"
      shape="round"
      class="ion-margin-top"
    >
      <ion-spinner name="circles" style="margin-right: 5px" *ngIf="isLoading"></ion-spinner>
      {{ buttonText }}
    </ion-button>
  </form>
</ion-content>
