<ion-content>
  <ion-datetime
    #datetime
    locale="es-ES"
    [min]="minDate"
    (ionChange)="onChangeDate($event)"
    [value]="previousDate"
  >
    <span slot="time-label">Tiempo</span>
    <ion-buttons slot="buttons">
      <ion-button
        (click)="cancel()"
        class="datetime-buttons secondary-button fw-regular"
        fill="solid"
        color="light"
        shape="round"
      >
        Cancelar
      </ion-button>
      <ion-button
        (click)="accept()"
        class="datetime-buttons"
        color="primary"
        fill="solid"
        shape="round"
      >
        Aceptar
      </ion-button>
    </ion-buttons>
  </ion-datetime>
</ion-content>
