ion-avatar.user-avatar {
  width: 45px;
  height: 45px;
  position: relative;
}

.item-description {
  white-space: break-spaces;
}

.spinner {
  transform: scale(2);
  display: block;
  margin: 16px auto;
}
