<app-back-header title="Ajustes del perfil" defaultHref="/tabs/profile"></app-back-header>

<ion-content color="tertiary" class="ion-padding">
  <ion-list class="settings-list ion-no-padding" lines="none">
    <ion-list-header color="primary">
      <ion-label>
        <h2 *ngIf="user; else loading">Jordi Gómez</h2>
        <ng-template #loading>
          <h2>...</h2>
        </ng-template>
      </ion-label>
    </ion-list-header>

    <ion-item (click)="navigateToEditProfile()" class="settings-item" detail="true" button>
      <ion-avatar slot="start" style="background-color: var(--ion-color-primary)">
        <ion-icon color="white" name="person-outline" style="padding: 7px 8px"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3 class="fw-bold">Editar perfil</h3>
        <p>Cambiar o editar tus datos</p>
      </ion-label>
    </ion-item>

    <ion-item
      *ngIf="user && user.providerId === 'password'"
      (click)="navigateToChangePassword()"
      class="settings-item"
      detail="true"
      button
    >
      <ion-avatar slot="start" style="background-color: var(--ion-color-primary)">
        <ion-icon
          color="white"
          src="../../../../../assets/icons/lock_person.svg"
          style="padding: 7px 8px"
        ></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3 class="fw-bold">Gestionar credenciales</h3>
        <p>Cambiar de contraseña</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="logOut()" class="settings-item" button>
      <ion-avatar slot="start" style="background-color: var(--ion-color-danger)">
        <ion-icon color="white" name="log-out-outline" style="padding: 8px 9px"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3 class="fw-bold">Desconectar</h3>
        <p>Cerrar la sesión de esta cuenta</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
