.task-list-container {
  padding: 10px;
  background-color: var(--ion-color-tertiary);
  width: 100%;

  ion-item {
    margin-bottom: 0 !important;
  }
}

.users-container {
  display: flex;
}

.loading-tasks {
  height: 85px;

  ion-spinner {
    transform: scale(2);
    margin: 0 auto;
    display: block;
    margin-top: 40px;
  }
}

.trade-type {
  margin-bottom: 10px;
}

.list-radio {
  ion-item {
    --padding-start: 0px;
  }
}

.error-message {
  display: block;
  margin-bottom: -5px;
}
