<ion-header mode="md" [ngClass]="[cssClass]">
  <ion-toolbar>
    <ion-buttons *ngIf="showBackButton" slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title class="fw-bold header-title">{{ title }}</ion-title>

    <ion-buttons
      *ngIf="showMoreOptions || showPreferences || showMoreInfo || showSettings"
      slot="secondary"
    >
      <ion-button *ngIf="showPreferences" (click)="preferences.emit()">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>

      <ion-button *ngIf="showMoreOptions" (click)="moreOptions.emit()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>

      <ion-button *ngIf="showMoreInfo" (click)="moreInfo.emit()">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>

      <ion-button *ngIf="showSettings" (click)="navigateToSettings.emit()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
