<ion-item
  (click)="navigateToDetail()"
  class="task-item"
  [ngClass]="{ 'disable-ripple-touch': showDistributionMode && !showCompleteButton }"
  button
  [ngStyle]="{ 'margin-bottom': showDistributionMode && !showCompleteButton ? '0px' : '10px' }"
>
  <div class="main-container">
    <div
      class="top-container"
      [ngClass]="{
        'btn-title-team': showCompleteButton && !task.completed && !showMoreOptions,
        'btn-title-more': showCompleteButton && !task.completed && showMoreOptions,
        'title-team':
          (!showCompleteButton || (showCompleteButton && task.completed)) && !showMoreOptions,
        'title-more':
          (!showCompleteButton || (showCompleteButton && task.completed)) && showMoreOptions
      }"
    >
      <ion-button
        [disabled]="isLoading"
        (click)="completeTask(); $event.stopPropagation()"
        *ngIf="showCompleteButton && !task.completed"
        fill="clear"
        shape="round"
        class="check-button"
      >
        <ion-icon
          slot="icon-only"
          src="../../../assets/icons/task-check.svg"
          color="primary"
          size="large"
        ></ion-icon>
      </ion-button>
      <ion-label class="title-container">
        <h3
          class="fw-bold"
          [ngStyle]="{ 'margin-top': task.selectedDate === 'withoutDate' ? '5px' : '0' }"
        >
          {{ task.title }}
        </h3>

        <ion-text color="medium">
          <div class="d-flex align-items-center" style="gap: 3px">
            <ng-container *ngIf="!showDistributionMode">
              <ion-icon
                *ngIf="task.completed"
                name="checkmark-circle"
                color="primary"
                style="font-size: 18px; margin-bottom: 2px"
              ></ion-icon>
              <ion-icon
                *ngIf="!task.completed"
                name="ellipsis-horizontal-circle-sharp"
                style="font-size: 18px; margin-bottom: 2px; color: #ffd600"
              ></ion-icon>
              <ion-icon
                *ngIf="!task.availableToAssign && task.completed"
                name="eye-off-outline"
                style="font-size: 18px; margin-bottom: 2px"
              ></ion-icon>
            </ng-container>

            <div
              *ngIf="task.selectedDate !== 'datePeriodic'"
              class="d-flex align-items-center"
              style="gap: 3px"
            >
              <ion-icon
                src="../../../assets/icons/calendar.svg"
                style="margin-bottom: 2px"
              ></ion-icon>
              <span style="font-size: 14px">{{
                task.selectedDate === 'withoutDate'
                  ? 'Sin fecha'
                  : [task.date + '' | date : 'd MMM y']
              }}</span>
            </div>

            <div
              *ngIf="task.selectedDate === 'datePeriodic'"
              class="d-flex align-items-center"
              style="gap: 3px"
            >
              <ion-icon
                src="../../../assets/icons/periodic.svg"
                style="margin-bottom: 2px"
              ></ion-icon>
              <span class="date-periodic-info" style="font-size: 14px">{{
                task.datePeriodic.join(', ') | titlecase
              }}</span>
            </div>
          </div>
        </ion-text>
      </ion-label>

      <ion-text
        *ngIf="!showMoreOptions"
        class="team-name-container"
        color="medium"
        [ngStyle]="{ 'margin-top': task.selectedDate === 'withoutDate' ? '5px' : '0' }"
      >
        <p class="team-name" style="font-size: 12px">{{ teamName }}</p>
      </ion-text>

      <ion-button
        *ngIf="
          (showDistributionMode && showMoreOptions) ||
          (!showDistributionMode && showMoreOptions && currentUserId)
        "
        (click)="moreOptions(); $event.stopPropagation()"
        class="more-opts-btn"
        fill="clear"
        color="secondary"
        slot="end"
      >
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </div>

    <div *ngIf="withoutUserAssigned" class="bottom-container-without-user">
      <p class="username-container username">Sin asignar</p>
      <div class="score-task">
        <ion-icon src="../../../../assets/icons/score.svg" style="margin-bottom: 1px"></ion-icon>
        <span>{{ task.score }}</span>
      </div>
    </div>

    <div *ngIf="!withoutUserAssigned && photoURL.length !== 0" class="bottom-container">
      <ion-avatar class="user-task-avatar">
        <img [src]="photoURL" [alt]="'Avatar de ' + username" referrerpolicy="no-referrer" />
      </ion-avatar>
      <p class="username-container username">
        {{ username }}
      </p>
      <div class="score-task">
        <ion-icon src="../../../../assets/icons/score.svg" style="margin-bottom: 1px"></ion-icon>
        <span>{{ task.score }}</span>
      </div>
    </div>

    <ng-container *ngIf="!withoutUserAssigned && photoURL.length === 0">
      <div class="bottom-container">
        <ion-skeleton-text
          style="height: 30px; background: var(--ion-color-white)"
        ></ion-skeleton-text>
      </div>
    </ng-container>
  </div>
</ion-item>
