<ion-item
  (click)="navigateToDetail()"
  class="task-item"
  [ngClass]="{
    'disable-ripple-touch': showDistributionMode && !showCompleteButton,
    'trade-task-selected': task.id === idSelectedTask && tradeMode
  }"
  [ngStyle]="{
    'margin-bottom':
      showDistributionMode && !showCompleteButton ? '0px' : isTaskRequested ? '0px' : '10px'
  }"
  [button]="!isTaskRequested"
>
  <div class="main-container">
    <div
      class="top-container"
      [ngClass]="{
        'btn-title-team': showCompleteButton && !task.completed && !showMoreOptions,
        'btn-title-more': showCompleteButton && !task.completed && showMoreOptions,
        'title-team':
          (!showCompleteButton || (showCompleteButton && task.completed)) && !showMoreOptions,
        'title-more':
          (!showCompleteButton || (showCompleteButton && task.completed)) && showMoreOptions
      }"
    >
      <ion-button
        [disabled]="isLoading"
        (click)="completeTask(); $event.stopPropagation()"
        *ngIf="showCompleteButton && !task.completed"
        fill="clear"
        shape="round"
        class="check-button"
      >
        <ion-icon
          slot="icon-only"
          src="../../../assets/icons/task-check.svg"
          color="primary"
          size="large"
        ></ion-icon>
      </ion-button>
      <ion-label class="title-container">
        <h3
          class="fw-bold"
          [ngStyle]="{ 'margin-top': task.selectedDate === 'withoutDate' ? '5px' : '0' }"
        >
          {{ task.title }}
        </h3>

        <ion-text color="medium">
          <div class="d-flex align-items-center" style="gap: 3px">
            <ng-container *ngIf="!showDistributionMode">
              <ion-icon
                *ngIf="task.completed"
                class="task-icon"
                name="checkmark-circle"
                color="primary"
              ></ion-icon>
              <ion-icon
                *ngIf="!task.completed"
                class="task-icon"
                name="ellipsis-horizontal-circle-sharp"
                style="color: #ffd600"
              ></ion-icon>
              <ion-icon
                *ngIf="!task.availableToAssign && task.completed"
                class="task-icon"
                name="eye-off-outline"
              ></ion-icon>
            </ng-container>

            <div
              *ngIf="task.selectedDate !== 'datePeriodic'"
              class="d-flex align-items-center"
              style="gap: 3px"
            >
              <ion-icon
                src="../../../assets/icons/calendar.svg"
                style="margin-bottom: 2px"
              ></ion-icon>
              <span style="font-size: 14px">{{
                task.selectedDate === 'withoutDate'
                  ? 'Sin fecha'
                  : [task[task.selectedDate] + '' | date : 'd MMM y']
              }}</span>
            </div>

            <div
              *ngIf="task.selectedDate === 'datePeriodic'"
              class="d-flex align-items-center"
              style="gap: 3px"
            >
              <ion-icon src="../../../assets/icons/periodic.svg" class="task-icon"></ion-icon>
              <span class="date-periodic-info" style="font-size: 14px">{{
                task.datePeriodic.join(', ') | titlecase
              }}</span>
            </div>
          </div>
        </ion-text>
      </ion-label>

      <ion-text
        *ngIf="!showMoreOptions"
        class="team-name-container"
        color="medium"
        [ngStyle]="{ 'margin-top': task.selectedDate === 'withoutDate' ? '5px' : '0' }"
      >
        <p class="team-name" style="font-size: 12px">{{ teamName }}</p>
      </ion-text>

      <ion-button
        *ngIf="
          (showDistributionMode && showMoreOptions) ||
          (!showDistributionMode && showMoreOptions && currentUserId)
        "
        [disabled]="disableMoreOptions"
        (click)="moreOptions(); $event.stopPropagation()"
        class="more-opts-btn"
        fill="clear"
        color="secondary"
        slot="end"
      >
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </div>

    <div *ngIf="withoutUserAssigned" class="bottom-container-without-user">
      <p class="username-container username">Sin asignar</p>
      <div class="score-task">
        <ion-icon src="../../../../assets/icons/score.svg" style="margin-bottom: 1px"></ion-icon>
        <span>{{ task.score }}</span>
      </div>
    </div>

    <div *ngIf="!withoutUserAssigned" class="bottom-container">
      <ion-avatar class="user-task-avatar">
        <img
          [src]="teamMembers[idUser].photoURL || '../../../assets/no-photo.jpg'"
          [alt]="'Avatar de ' + teamMembers[idUser].name"
          referrerpolicy="no-referrer"
        />
      </ion-avatar>
      <p class="username-container username">
        {{ teamMembers[idUser].name }}
      </p>
      <div class="score-task">
        <ion-icon src="../../../../assets/icons/score.svg" style="margin-bottom: 1px"></ion-icon>
        <span>{{ task.score }}</span>
      </div>
    </div>
  </div>
</ion-item>
