ion-item.task-item {
  --border-radius: 6px;
  margin-bottom: 10px;
  --inner-padding-end: 0px;
  --padding-start: 10px;
  --padding-end: 10px;

  .main-container {
    width: 100%;
  }

  .top-container {
    margin: 5px 0;
    display: grid;
    align-items: flex-start;
    gap: 2px;
  }

  .btn-title-team {
    grid-template-columns: 0.5fr 5fr 1.5fr;
  }

  .btn-title-more {
    grid-template-columns: 0.5fr 5fr 0.5fr;
  }

  .title-more {
    grid-template-columns: 5fr 0.5fr;
  }

  .title-team {
    grid-template-columns: 5fr 1.25fr;
  }

  .top-container-without-button {
    grid-template-columns: 5fr 1.25fr;
  }

  .top-container-more-opts {
    grid-template-columns: 5fr 0.5fr;
  }

  .start-slot {
    display: flex;
    align-items: center;
  }

  .title-container {
    max-width: 100%;
    min-width: 0;

    h3 {
      letter-spacing: 0;
      text-overflow: ellipsis;
      white-space: break-spaces;
      overflow: hidden;
      margin-top: 0;
    }
  }

  .team-name-container {
    min-width: 0;
    max-width: 100%;
    text-align: center;

    .team-name {
      font-size: 12px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 0;
      margin-top: 2px;
    }
  }

  .date-periodic-info {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .bottom-container {
    gap: 10px;
    border-top: 1px solid var(--ion-color-border);
    display: grid;
    grid-template-columns: 0.5fr 5fr 1fr;
    align-items: center;
  }

  .bottom-container-without-user {
    gap: 10px;
    border-top: 1px solid var(--ion-color-border);
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    padding: 10px 0;
  }

  ion-avatar.user-task-avatar {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    margin: 7px 0;
  }

  .username-container {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    margin: 0;
  }

  .score-task {
    background-color: var(--ion-color-score);
    color: var(--ion-color-score-text);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    padding: 0 8px;
    border-radius: 6px;
    font-size: 14px;
  }

  .task-icon {
    font-size: 18px;
    margin-bottom: 2px;
    min-width: 18px;
  }
}

ion-button.check-button {
  height: 30px;
  margin: 0;
  margin-right: 6px;

  &::part(native) {
    padding: 0;
    margin-top: 2px;
  }
}
