ion-img {
  &::part(image) {
    height: 250px;
    max-height: 250px;
    object-fit: cover;
  }
}

.image-container {
  position: relative;

  ion-button {
    position: absolute;

    &::part(native) {
      border: 1px solid var(--ion-color-medium);
      color: var(--ion-color-secondary);
    }
  }

  .image-btn {
    bottom: 20px;
    left: 16px;
  }

  .delete-img-btn {
    bottom: 20px;
    left: 148px;
    --padding-start: 10px;
    --padding-end: 10px;
    font-size: 12px;
  }
}

ion-button.check-button {
  height: 30px;
  margin: 0;
  margin-right: 6px;
  --padding-start: 0;
  --padding-end: 0;
}

.main-container {
  background: var(--ion-color-white);
  border-radius: 20px 20px 0 0;
  position: relative;
  margin-top: -17px;
  z-index: 2;
}
