<app-back-header
  [title]="title"
  [showMoreOptions]="true"
  [showPreferences]="true"
  (moreOptions)="handleMoreOptions()"
  (preferences)="handlePreferences()"
></app-back-header>

<ion-content color="tertiary" feed="role">
  <ng-container *ngIf="team && tasks; else loading">
    <app-toolbar-searchbar
      title="Lista de tareas"
      placeholder="Buscar tareas"
      type="tareas"
      [totalItems]="tasks.length"
      (search)="handleSearch($event)"
    ></app-toolbar-searchbar>

    <div class="main-container ion-padding">
      <ion-list
        class="list-container"
        lines="none"
        [ngStyle]="{'padding': isSearching ? '10px' : '0' }"
      >
        <ion-item
          *ngIf="tasks.length === 0 && !isSearching"
          class="root-helper helper sub-item"
          style="z-index: 0"
        >
          <ion-label> No se ha encontrado ninguna tarea </ion-label>
        </ion-item>

        <ng-container *ngIf="!isSearching; else loadingSearch">
          <app-task
            *ngFor="let task of tasks; trackBy: identify"
            [task]="task"
            [idUser]="task.idUserAssigned"
            [currentUserId]="idUser"
            [withoutUserAssigned]="false"
            [showCompleteButton]="idUser === task.idUserAssigned"
            [showMoreOptions]="true"
          ></app-task>
        </ng-container>

        <ng-template #loadingSearch>
          <ion-spinner
            class="loading-content"
            name="circles"
            color="primary"
            style="margin-top: 0 !important"
          ></ion-spinner>
        </ng-template>
      </ion-list>

      <ion-fab vertical="bottom" horizontal="center" slot="fixed" style="position: fixed">
        <ion-button
          [routerLink]="
            team!.taskLists[idTaskList!].distributionType === 'manual'
            ? ['/tabs/lists/manual-distribution', idTeam, idTaskList]
            : ['/tabs/lists/preferences-distribution', idTeam, idTaskList]"
          color="primary"
          shape="round"
        >
          Reparto de tareas
        </ion-button>
      </ion-fab>
    </div>
  </ng-container>

  <ng-template #loading>
    <app-toolbar-searchbar
      title="Lista de tareas"
      placeholder="Buscar tareas"
      type="tareas"
      [totalItems]="0"
    ></app-toolbar-searchbar>
    <ion-spinner
      class="loading-content"
      name="circles"
      color="primary"
      style="margin-top: 140px !important"
    ></ion-spinner>
  </ng-template>

  <ion-infinite-scroll
    threshold="100px"
    [disabled]="false"
    position="bottom"
    (ionInfinite)="loadData()"
  >
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
