<app-back-header
  title="Nombre de la tarea"
  [showMoreOptions]="true"
  [showPreferences]="true"
  (moreOptions)="handleMoreOptions()"
  (preferences)="handlePreferences()"
></app-back-header>

<ion-content color="tertiary">
  <app-toolbar-searchbar
    title="Lista de tareas"
    placeholder="Buscar tareas"
    type="tareas"
    [totalItems]="tasks.length"
    (search)="handleSearch($event)"
  ></app-toolbar-searchbar>

  <div class="main-container ion-padding">
    <ion-spinner
      *ngIf="isLoading"
      class="loading-content"
      name="circles"
      color="primary"
    ></ion-spinner>

    <ion-list class="list-container" lines="none">

      <ion-item *ngIf="!isLoading && tasks.length === 0" class="root-helper helper sub-item" style="z-index: 0">
        <ion-label>Esta lista todavía no tiene ninguna tarea. ¡Reúnete con tus compañeros de equipo y empieza a organizar el reparto!</ion-label>
      </ion-item>

      <!--TODO: User info when assigned -->
      <app-task
        *ngFor="let task of tasks"
        [title]="task.title"
        [teamName]="task.team.name"
        [score]="task.score"
        [selectedDate]="task.selectedDate"
        [date]="getSelectedDate(task.id)"
        [isFromAnotherUser]="false"
      ></app-task>

    </ion-list>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed" style="position: fixed">
      <ion-button [routerLink]="['/create-task', idTeam, idTaskList]" color="primary" shape="round"
        >Reparto de tareas</ion-button
      >
    </ion-fab>
  </div>
</ion-content>
