.medium-title {
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: -5px;
}

.paragraph-text {
  margin-left: 5px;
  margin-right: 5px;
}

.deactivated-type {
  border: 1px solid var(--ion-color-border);
  border-radius: 6px;
}
