<app-back-header [title]="headerTitle"></app-back-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="idTask ? updateTask() : createTask()" [formGroup]="taskForm">
    <ion-item mode="md" class="item-form">
      <ion-label position="stacked">Título</ion-label>
      <ion-input
        type="text"
        placeholder="Introduce el título de la tarea"
        formControlName="title"
        maxlength="75"
      ></ion-input>
      <ion-note slot="error" *ngIf="title?.touched && title?.errors">
        Debes introducir un título de almenos 3 carácteres
      </ion-note>
    </ion-item>

    <ion-item mode="md" class="item-form">
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea
        class="custom-textarea"
        placeholder="Introduce una descripción de la tarea"
        formControlName="description"
        maxlength="200"
      ></ion-textarea>
    </ion-item>

    <ion-list class="list-radio">
      <ion-radio-group name="date" value="withoutDate" formControlName="selectedDate">
        <ion-list-header>
          <ion-label class="fw-bold">Tipo de fecha</ion-label>
        </ion-list-header>

        <ion-item mode="md" class="item-radio">
          <ion-label>Sin fecha</ion-label>
          <ion-radio value="withoutDate"></ion-radio>
        </ion-item>

        <ion-item mode="md" class="item-radio">
          <ion-label>Fecha a realizar</ion-label>
          <ion-radio value="date"></ion-radio>
        </ion-item>

        <ion-item mode="md" class="item-radio">
          <ion-label>Fecha límite</ion-label>
          <ion-radio value="dateLimit"></ion-radio>
        </ion-item>

        <ion-item mode="md" class="item-radio">
          <ion-label>Fecha periódica</ion-label>
          <ion-radio value="datePeriodic"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <div
      *ngIf="selectedDate?.value !== 'datePeriodic'"
      class="d-flex align-items-center ion-margin-top"
      style="gap: 5px"
    >
      <ion-button
        (click)="displayDateModal()"
        [disabled]="selectedDate?.value === 'withoutDate'"
        class="secondary-button fw-regular"
        color="light"
        shape="round"
      >
        <ion-icon slot="start" src="../../../assets/icons/calendar.svg"></ion-icon>
        Fecha
      </ion-button>
      <ion-chip
        class="info-chip"
        [ngClass]="selectedDate?.value === 'withoutDate' ? 'chip--disabled' : 'chip-active'"
        [disabled]="true"
      >
        <ion-icon src="../../../assets/icons/calendar.svg"></ion-icon>
        {{ selectedDateValue ? [selectedDateValue | date : 'd MMM y'] : 'Sin fecha' }}
      </ion-chip>
    </div>

    <div
      *ngIf="selectedDate?.value === 'datePeriodic'"
      class="d-flex align-items-center ion-margin-top"
      style="gap: 5px"
    >
      <ion-button
        (click)="displayPeriodicDateModal()"
        class="secondary-button fw-regular"
        color="light"
        shape="round"
      >
        <ion-icon slot="start" src="../../../../assets/icons/periodic.svg"></ion-icon>
        Fecha
      </ion-button>
      <ion-chip class="info-chip chip-active" [disabled]="true">
        <ion-icon src="../../../../assets/icons/periodic.svg"></ion-icon>
        {{ selectedDateValue | titlecase }}
      </ion-chip>
    </div>

    <div class="d-flex align-items-center ion-margin-bottom" style="gap: 5px">
      <ion-button
        (click)="displayScoreModal()"
        class="secondary-button fw-regular"
        color="light"
        shape="round"
      >
        <ion-icon slot="start" src="../../../assets/icons/score.svg" class="score-icon"></ion-icon>
        Puntos
      </ion-button>
      <ion-chip class="info-chip chip-active" [disabled]="true">
        <ion-icon src="../../../assets/icons/score.svg" style="margin-inline: 0px 6px"></ion-icon>
        {{ score?.value }} Puntos
      </ion-chip>
    </div>

    <ion-text *ngIf="showDateError" color="danger" class="small-text">
      <p style="margin-left: 5px">Debes introducir una fecha para poder crear la tarea</p>
    </ion-text>

    <ion-button
      [disabled]="(!taskForm.valid && !isLoading) || (taskForm.valid && isLoading)"
      type="submit"
      expand="block"
      shape="round"
    >
      <ion-spinner name="circles" style="margin-right: 5px" *ngIf="isLoading"></ion-spinner>
      {{ buttonText }}
    </ion-button>
  </form>
</ion-content>
