<ion-content>
  <ion-list class="ion-padding-horizontal" lines="none">
    <ion-item class="explanation-item">
      <ion-icon
        slot="start"
        color="secondary"
        name="information-circle-outline"
        style="margin-inline-end: 15px"
      ></ion-icon>
      <ion-label>Crea tareas para añadirlas a la lista</ion-label>
    </ion-item>
    <ion-item class="explanation-item">
      <ion-icon
        slot="start"
        color="secondary"
        name="information-circle-outline"
        style="margin-inline-end: 15px"
      ></ion-icon>
      <ion-label>Marca las tareas que prefieras realizar</ion-label>
    </ion-item>
    <ion-item class="explanation-item">
      <ion-icon
        slot="start"
        color="secondary"
        name="information-circle-outline"
        style="margin-inline-end: 15px"
      ></ion-icon>
      <ion-label>Hay un máximo de tareas preferentes, dependerá del tamaño de la lista total</ion-label>
    </ion-item>
    <ion-item class="explanation-item">
      <ion-icon
        slot="start"
        color="secondary"
        name="information-circle-outline"
        style="margin-inline-end: 15px"
      ></ion-icon>
      <ion-label>Solamente un administrador podrá terminar el reparto</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
