<app-back-header title="Ver miembros del equipo"></app-back-header>

<ion-content color="tertiary" class="ion-padding">
  <ng-container *ngIf="team && users; else loading">
    <ion-list class="root-list settings-list" lines="none" mode="md">
      <ion-list-header color="primary">
        <ion-label>
          <h2>{{ team.name }}</h2>
        </ion-label>
      </ion-list-header>

      <ion-item
        *ngFor="let user of users; trackBy: identify"
        class="sub-item"
        style="--padding-start: 10px"
      >
        <ng-container *ngIf="team.userMembers[user.id!]">
          <ion-avatar slot="start" class="user-avatar">
            <ion-img
              [src]="user.photoURL || '../../../../../assets/no-photo.jpg'"
              [alt]="'Avatar de' + team.userMembers[user.id!].name"
              referrerpolicy="no-referrer"
            ></ion-img>
            <div class="pie-wrapper">
              <app-circle-chart [pieData]="user.qualityMark"></app-circle-chart>
            </div>
          </ion-avatar>

          <ion-label style="margin: 5px 0">
            <h3 class="fw-bold" style="letter-spacing: 0">
              {{user.username}} {{ user.id === idUser ? '(Tú)' : '' }}
            </h3>

            <ion-chip
              *ngIf="team.userMembers[user.id!].role === 'admin'"
              class="info-chip small-chip"
              [disabled]="true"
              style="padding-inline: 8px; background-color: #fff2ae"
            >
              <ion-icon
                src="../../../assets/icons/admin.svg"
                style="margin-inline: 0px 3px"
              ></ion-icon>
              Admin
            </ion-chip>

            <ion-chip
              class="info-chip small-chip chip-active score-chip"
              [disabled]="true"
              style="padding-inline: 8px"
            >
              <ion-icon
                src="../../../assets/icons/score.svg"
                style="margin-inline: 0px 3px"
              ></ion-icon>
              <span>{{team.userMembers[user.id!].userTotalScore}}</span>
            </ion-chip>
          </ion-label>

          <ion-button
            *ngIf="team.userMembers[idUser].role === 'admin'"
            [disabled]="user.id! === idUser"
            (click)="moreOptions(user.id!)"
            class="more-opts-btn"
            fill="clear"
            color="secondary"
            slot="end"
          >
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ng-container>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #loading>
    <ion-spinner class="loading-content" name="circles" color="primary"></ion-spinner>
  </ng-template>
</ion-content>
