<app-intro-header
  title="Bienvenido de nuevo a"
  background="white"
  titleColor="primary"
></app-intro-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="login()" [formGroup]="loginCredentials">
    <ion-list class="ion-no-padding">
      <ion-item mode="md" class="item-form">
        <ion-label position="stacked">Correo electrónico</ion-label>
        <ion-input
          type="email"
          placeholder="Introduce tu correo electrónico"
          formControlName="email"
        ></ion-input>
        <ion-note slot="error" *ngIf="email?.touched && email?.errors">
          Debes introducir un correo electrónico válido
        </ion-note>
      </ion-item>

      <ion-item mode="md" class="item-form">
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input
          type="password"
          placeholder="Introduce tu constraseña"
          formControlName="password"
          clearOnEdit="false"
        ></ion-input>
        <ion-note slot="error" *ngIf="password?.touched && password?.errors">
          Debes introducir una contraseña
        </ion-note>
      </ion-item>
    </ion-list>

    <div class="d-flex justify-end" style="margin-top: 10px;">
      <ion-button
        color="secondary"
        fill="clear"
        size="small"
        class="ion-no-margin fw-regular"
        (click)="showForgotPassword()"
      >
        ¿Has olvidado tu contraseña?
      </ion-button>
    </div>

    <ion-button
      [disabled]="(!loginCredentials.valid && !isLoading) || (loginCredentials.valid && isLoading)"
      type="submit"
      color="primary"
      expand="block"
      shape="round"
      style="margin-top: 15px"
    >
      <ion-spinner name="circles" style="margin-right: 5px" *ngIf="isLoading"></ion-spinner>
      Iniciar sesión
    </ion-button>
  </form>

  <p class="ion-text-center">
    ¿Aún no tienes cuenta?
    <a class="auth-inline-link" [routerLink]="['/auth/register']">Regístrate</a>
  </p>

  <div class="hr"><span>o</span></div>

  <div class="ion-text-center">
    <ion-button fill="outline" shape="round" (click)="signInWithGoogle()">
      <ion-icon src="../../../../assets/icons/google.svg" size="small" slot="start"></ion-icon>
      Google
    </ion-button>
  </div>
</ion-content>
