/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import 'swiper/css';
@import 'swiper/css/pagination';

.ion-color-white {
  --ion-color-base: var(--ion-color-white) !important;
  --ion-color-base-rgb: var(--ion-color-white-rgb) !important;
  --ion-color-contrast: var(--ion-color-white-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-white-shade) !important;
  --ion-color-tint: var(--ion-color-white-tint) !important;
}

h1 {
  font-weight: bold;
  letter-spacing: -0.01rem;
}

h2 {
  font-weight: bold;
  letter-spacing: -0.03rem;
}

h3 {
  font-weight: bold;
  letter-spacing: -0.03rem;
}

#intro-slides .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #fff !important;
}

ion-header.header-md {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

  &::after {
    content: none;
  }
}

ion-header.header-transparent {
  box-shadow: none;

  ion-toolbar {
    --background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    color: var(--ion-color-white);
  }

  &::after {
    background-image: none;
  }
}

.header-no-border {
  box-shadow: none !important;
}

ion-button {
  text-transform: none;
  --box-shadow: none;

  &::part(native) {
    letter-spacing: 0;
  }
}

ion-button.button-solid {
  font-weight: bold;
}

ion-button.button-outline {
  font-weight: regular;
  --border-color: var(--ion-color-border);
  --border-width: 1px;
  --color: var(--ion-color-secondary);
}

ion-button.button-clear {
  font-weight: bold;
}

/* Input field style */
ion-item.item-form.item-fill-none {
  --border-style: none;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-end: 0;
  --padding-start: 0;

  &.item-has-focus,
  &:focus {
    ion-input,
    ion-textarea {
      --background: var(--ion-color-white);
      box-shadow: 0 0 0 3px rgba(92, 137, 176, 0.3);
      border: 1px solid var(--ion-color-secondary-light);
      caret-color: var(--ion-color-secondary-light) !important;

      .cloned-input {
        --padding-top: 13px !important;
        --padding-start: 14px !important;
      }
    }

    ion-label {
      color: var(--ion-color-secondary-light) !important;
    }
  }

  /* Invalid with focus */
  &.ion-invalid.ion-touched.item-has-focus,
  &.ion-invalid.ion-touched:focus {
    ion-input,
    ion-textarea {
      --background: var(--ion-color-white);
      box-shadow: 0 0 0 3px rgba(255, 68, 86, 0.3);
      border: 1px solid var(--ion-color-danger);
    }

    ion-label {
      color: var(--ion-color-danger) !important;
    }
  }

  /* Invalid without focus */
  &.ion-invalid.ion-touched:not(.item-has-focus) {
    ion-input,
    ion-textarea {
      --background: var(--ion-color-light);
      box-shadow: var(--box-shadow-input-field);
      // border: 2px solid var(--ion-color-danger);
    }

    ion-label {
      color: var(--ion-color-secondary) !important;
    }
  }
}

ion-item.item-form.item-fill-none ion-input,
ion-item.item-form.item-fill-none ion-textarea {
  --background: var(--ion-color-light);
  border-radius: 6px;
  padding: 5px 5px 5px 15px !important;
  margin: 10px 5px 5px 5px;
  box-shadow: var(--box-shadow-input-field);
  width: 97%;
  --color: var(--ion-color-secondary);
}

ion-item.item-form.item-fill-none ion-textarea {
  padding: 5px 15px 5px 15px !important;
}

ion-item.item-form.item-fill-none ion-label,
ion-item.item-form.item-fill-none ion-note {
  margin-left: 5px !important;
}

ion-list.list-radio {
  padding-top: 5px;
  padding-bottom: 0;

  ion-list-header {
    padding-left: 6px;
    min-height: 30px !important;
  }
}

ion-item.item-radio {
  --min-height: 0;
  font-size: 14px;

  ion-label {
    margin: 0;
  }

  ion-radio {
    margin: 5px 0;
  }
}

ion-item.explanation-item {
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-end: 0;
  --padding-start: 0;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--ion-color-secondary);

  ion-label {
    margin: 5px 0;
    overflow: unset !important;
    white-space: unset !important;
  }
}

.list-title {
  margin: 0;
  font-weight: bold !important;
  font-size: 20px !important;
}

.slide-container {
  background-color: var(--ion-color-tertiary);
  padding: 10px;
}

ion-item.disable-ripple-touch {
  --ripple-color: transparent;
  --background-hover: transparent;
}

ion-item.disable-ripple-touch:active {
  --ripple-color: var(--ion-color-ripple);
  --background-hover: var(--ion-color-ripple);
}

ion-list.root-list ion-item,
ion-list.sub-list ion-item,
ion-item.root-helper {
  --border-style: none;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-end: 0;
  --padding-start: 0;
  font-size: 14px;
}

ion-list.root-list {
  background-color: var(--ion-color-tertiary);
  padding: 0;
}

ion-item.sub-item {
  --border-radius: 6px;
  margin-bottom: 10px;

  ion-button[slot='end'] {
    margin-inline-start: 2px;
    margin-inline-end: 5px;
  }

  .medium-part {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    height: 100%;
    width: 100%;
  }
}

ion-item.helper ion-label {
  margin: 10px;
  overflow: unset !important;
  white-space: unset !important;
}

ion-spinner.loading-content {
  margin-top: 14px !important;
  transform: scale(2);
  display: block;
  margin: 0 auto;
}

.info-chip {
  border-radius: 6px;
  background-color: var(--ion-color-tertiary);
  color: var(--ion-text-color);
  opacity: 1;

  ion-icon {
    margin-left: unset;
    margin-right: unset;
    margin-inline: 0px 8px;
    color: var(--ion-text-color);
  }
}

.chip--disabled {
  opacity: 0.5;
}

.chip-active {
  background-color: var(--ion-color-score);
}

.chip-primary {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-white);
}

.chip-auto-height {
  height: auto;
}

.small-chip {
  height: 28px;
}

.score-chip {
  padding: 5px 12px 7px 12px;

  span {
    margin-top: 2px;
  }
}

.rating-chip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hr {
  margin: 50px 0;
  border: 1px solid var(--ion-color-border);
  height: 0;
  position: relative;

  span {
    position: absolute;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--ion-color-white);
    padding: 0 5px;
  }
}

.auth-inline-link {
  color: var(--ion-color-primary);
  font-weight: bold;
  text-decoration: none;
}

.small-text {
  font-size: 12px !important;
}

.regular-text {
  font-size: 14px !important;
}

.medium-text {
  font-size: 16px !important;
}

.large-text {
  font-size: 24px !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-regular {
  font-weight: normal !important;
}

.fw-bold {
  font-weight: bold !important;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-end {
  justify-content: end !important;
}

.justify-start {
  justify-content: start !important;
}

.justify-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.score-icon {
  margin-bottom: 2px;
}

.star-icon {
  font-size: 16px;
  margin-inline: 0 3px !important;
}

.icon-size-title {
  font-size: 28px;
}

.medium-title {
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: -5px;
}

.slide-flex-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-top: 3px;
  padding-bottom: 3px;

  ion-chip.info-chip {
    flex: 0 0 auto;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.trade-task-selected {
  --border-width: 3px !important;
  --border-color: var(--ion-color-primary) !important;
}

.modal-sheet {
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.9);

  ion-title {
    height: auto;
  }

  .ion-page {
    border-radius: 20px;
  }

  &::part(content) {
    overflow: unset;
    border-radius: 20px 20px 0px 0px;
  }

  &::part(handle) {
    top: -10px;
    background-color: #fff;
  }
}

.auto-sheet-modal {
  --min-width: 250px;
  --height: auto;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.5);

  .ion-page {
    position: relative;
    display: block;
    contain: content;
  }

  .inner-content {
    overflow: auto;
    color: var(--ion-text-color);
  }
}

.responsive-modal {
  --height: auto;
  --width: 90%;
  --border-radius: 10px;

  .ion-page {
    position: relative;
    display: block;
    contain: content;
  }

  .inner-content {
    max-height: 80vh;
    overflow: auto;
    color: var(--ion-text-color);
  }
}

ion-modal.datetime-modal::part(content),
ion-modal.periodic-modal::part(content) {
  max-width: 350px;
}

ion-modal.transparent-modal {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.5);

  &::part(content) {
    background-color: transparent;
    max-width: 350px;
  }
}

ion-alert.alert-error .alert-title {
  color: var(--ion-color-danger);
}

ion-alert.alert-error .alert-button-group button {
  color: var(--ion-color-secondary);
}

ion-searchbar {
  --border-radius: 23px !important;
  --box-shadow: inset 0 2px 2px -1px rgba(74, 74, 104, 0.1) !important;
}

.searchbar-input {
  font-size: 15px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.searchbar-search-icon {
  top: 9px !important;
}

.action-sheet-group.sc-ion-action-sheet-md:first-child {
  padding-top: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.action-sheet-large {
  --max-height: calc(100% - 100px - (var(--ion-safe-area-top) + var(--ion-safe-area-bottom)));
}

.action-sheet-custom-icon ion-icon {
  color: var(--ion-text-color) !important;
}

.action-sheet-danger-icon {
  --button-color: var(--ion-text-color) !important;
  --color: var(--ion-color-danger) !important;
}

.action-sheet-tasklist-icon ion-icon {
  color: var(--ion-text-color) !important;
  margin-bottom: 5px !important;
}

.custom-toast {
  color: var(--ion-text-color);
  --border-radius: 8px;
  --start: 35px;
  --end: 35px;
  --box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);

  &::part(icon) {
    font-size: 25px;
  }

  &::part(button) {
    text-transform: none !important;
    font-weight: bold;
  }
}

.toast-task .toast-wrapper {
  background-color: var(--ion-color-primary);
}

.toast-success {
  &::part(icon) {
    color: var(--ion-color-success);
  }
}

.toast-error {
  &::part(icon) {
    color: var(--ion-color-danger);
  }
}

.more-opts-btn {
  --padding-start: 5px;
  --padding-end: 5px;
}

.secondary-button {
  &::part(native) {
    border: 1px solid var(--ion-color-border);
    color: var(--ion-color-secondary) !important;
  }
}

.star-button {
  --padding-end: 1px;
  --padding-start: 1px;

  ion-icon {
    font-size: 25px;
  }
}

ion-select {
  background-color: var(--ion-color-light);
  --padding-end: 10px;
  --padding-top: 7px;
  --padding-bottom: 7px;
  border-radius: 6px;
  border: 1px solid var(--ion-color-tertiary);
}

ion-fab.fab-horizontal-center {
  margin: 0 !important;
  bottom: -10px;
  transform: translateX(-50%) translateY(-50%);
}

ion-list.settings-list {
  background: var(--ion-color-tertiary);

  ion-list-header {
    border-radius: 6px;
    margin-bottom: 10px;

    h2 {
      font-weight: bold;
      letter-spacing: 0;
    }
  }

  .code-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    .invitation-code {
      background-color: var(--ion-color-tertiary);
      border-radius: 6px;
      padding: 10px 14px;
      letter-spacing: 1px;
      font-size: 16px;
      font-weight: bold;
      -webkit-user-select: text;
      -moz-user-select: text;
      user-select: text;
    }

    ion-button {
      height: 3em;
    }
  }

  ion-item.code-item {
    --inner-padding-end: 0;
  }
}

ion-item.settings-item {
  --border-style: none;
  --border-radius: 6px;
  --inner-padding-end: 12px;
  margin-bottom: 10px;

  ion-icon {
    font-size: 24px !important;
  }

  ion-label {
    white-space: normal !important;

    h3 {
      letter-spacing: 0;
    }
  }
}

.pie-wrapper {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -2px;
  right: -3px;
}

ion-content.detail-content,
ion-content.profile-content {
  &::part(scroll) {
    top: calc(var(--offset-top) * -2);
  }
}

.gradient-background {
  background: linear-gradient(180deg, #3dc795 0%, #8bddbf 100%);
  width: 100%;
  height: 190px;
}

.profile-main-content {
  margin-top: -25px;
  background-color: var(--ion-color-white);
  border-radius: 25px 25px 0 0;
  position: relative;
  font-size: 14px;

  .user-row-data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
  }

  .vertical-line {
    width: 2px;
    height: 45px;
    background-color: var(--ion-color-tertiary);
    border-radius: 10px;
  }

  .user-col-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .data {
    font-size: 20px;
    font-weight: bold;
  }

  ion-avatar.user {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .username {
    font-size: 20px;
    margin: 0;
    text-align: center;
    padding-top: 65px;
  }

  .quality-mark-container {
    box-shadow: 0 0 0 3px var(--ion-color-tertiary);
    border-radius: 6px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .quality-info {
      flex: 1 0 auto;
    }

    p {
      min-width: 100%;
      width: 0;
      margin: 0;
    }

    .chart-container {
      flex: 0 0 auto;
      width: 90px;
      height: 90px;
      position: relative;
    }
  }

  .ratings-container {
    background-color: var(--ion-color-tertiary);
  }

  .profile-card-container {
    background-color: var(--ion-color-white);
    padding: 10px;
    border-radius: 6px;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
}

ion-segment.ios-segment {
  --background: var(--ion-color-white);

  ion-segment-button.segment-button-checked::part(native) {
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.2px;
  }

  ion-segment-button::part(indicator-background) {
    background-color: var(--ion-color-primary);
  }
}

.firebase-emulator-warning {
  display: none;
  background-color: transparent !important;
  border: none !important;
  color: rgba(245, 66, 66, 0.3) !important;
  bottom: 65px !important;
}
