<app-back-header title="Gestionar credenciales" defaultHref="/tabs/profile"></app-back-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm">
    <ion-list class="ion-no-padding ion-padding-bottom">
      <ion-item mode="md" class="item-form">
        <ion-label position="stacked">Contraseña actual</ion-label>
        <ion-input
          type="password"
          placeholder="Introduce tu contraseña actual"
          formControlName="oldPassword"
          clearOnEdit="false"
        ></ion-input>
        <ion-note slot="error" *ngIf="oldPassword?.touched && oldPassword?.errors">
          Debes introducir una contraseña de mínimo 6 caracteres.
        </ion-note>
      </ion-item>

      <ion-item mode="md" class="item-form">
        <ion-label position="stacked">Contraseña nueva</ion-label>
        <ion-input
          type="password"
          placeholder="Introduce la contraseña nueva"
          formControlName="newPassword"
          clearOnEdit="false"
        ></ion-input>
        <ion-note slot="error" *ngIf="newPassword?.touched && newPassword?.errors">
          Debes introducir una contraseña de mínimo 6 caracteres.
        </ion-note>
      </ion-item>

      <ion-item mode="md" class="item-form">
        <ion-label position="stacked">Confirmar contraseña nueva</ion-label>
        <ion-input
          type="password"
          placeholder="Introduce de nuevo la nueva contraseña"
          formControlName="confirmPassword"
          clearOnEdit="false"
        ></ion-input>
        <ion-note slot="error" *ngIf="confirmPassword?.touched && confirmPassword?.errors">
          Ámbas contraseñas deben coincidir.
        </ion-note>
      </ion-item>
    </ion-list>

    <ion-button
      [disabled]="
        (!changePasswordForm.valid && !isLoading) ||
        (changePasswordForm.valid && isLoading)"
      type="submit"
      color="primary"
      expand="block"
      shape="round"
      class="ion-margin-top"
    >
      <ion-spinner name="circles" style="margin-right: 5px" *ngIf="isLoading"></ion-spinner>
      Cambiar contraseña
    </ion-button>
  </form>
</ion-content>
