<app-back-header
  title="Reparto manual"
  [showMoreInfo]="true"
  (moreInfo)="displayMoreInfoPopover()"
></app-back-header>

<ion-content>
  <ng-container *ngIf="teamVm && tasksUnassigned; else loading">
    <ion-list lines="none">
      <ion-list-header class="ion-padding-horizontal">
        <ion-label><h3 class="list-title">Lista de tareas</h3></ion-label>
        <ion-button
          [routerLink]="['/create-task', idTeam, idTaskList]"
          color="primary"
          fill="solid"
          shape="round"
        >
          Crear tarea
        </ion-button>
      </ion-list-header>

      <app-task-slide
        [tasks]="tasksUnassigned"
        [withoutUsers]="true"
        distributionMode="manual"
      ></app-task-slide>
    </ion-list>

    <ion-list
      lines="none"
      *ngFor="let user of teamVm.team?.userMembers | objSortedValues; trackBy: identify"
    >
      <ion-list-header class="ion-padding-horizontal">
        <ion-label>
          <h3 class="list-title">Lista de {{ user.name }}</h3>
        </ion-label>
      </ion-list-header>

      <app-task-slide
        [tasks]="(teamVm[user.id] | async)!"
        [idUser]="user.id"
        [withoutUsers]="false"
        distributionMode="manual"
        [noTasksMessage]="user.name + ' no tiene ninguna tarea asignada'"
      ></app-task-slide>
    </ion-list>

    <ion-button
      (click)="completeDistribution()"
      [disabled]="teamVm.team!.userMembers[idUser].role === 'member' || isLoading"
      class="ion-margin"
      expand="block"
      fill="solid"
      shape="round"
    >
      <ion-spinner name="circles" style="margin-right: 5px" *ngIf="isLoading"></ion-spinner>
      Terminar reparto
    </ion-button>
  </ng-container>

  <ng-template #loading>
    <ion-spinner class="loading-content" name="circles" color="primary"></ion-spinner>
  </ng-template>
</ion-content>
